{% extends 'base.html' %}

{% load static %}

{% block title %}
    My Blog
{% endblock title %}

{% block content %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock css_files %}



    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/me.jpg' %}" alt="Jacques - The Author of This Blog"/>
            <h2>JACQUES' BLOG</h2>
        </header>
        <P>Hi, I am Jacques and I love to blog about tech!
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>
        <ul>
            {% include "blog/includes/post.html" %}
        </ul>
    </section>
    <section id="about">
        <h2>What I do</h2>
        <p>I love programming, I love to help others and 
        I enjoy exploring new technologies in general!</p>
        <p>My goal is to keep growing as a developer
        - and if I could help you do the same, I'd very happy!</p>
    </section>
{% endblock content %}