{% extends 'base.html' %}

{% block title %}
    My Blog
{% endblock title %}

{% block content %}

    <header id="main-navigation">
        <h1><a href="">Jacques' Blog</a></h1>
        <nav>
            <a href="">All Posts</a>
        </nav>
    </header>

    <section id="welcome">
        <header>
            <img src="" alt="Jacques - The Author of This Blog"/>
            <h2>JACQUES BLOG</h2>
        </header>
        <P>Hi, I am Jacques and I love to blog about tech!
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>
        <ul>
            <li>
                <article></article>
            </li>
        </ul>
    </section>
{% endblock content %}